{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/user_registration_bs4.css' %}">
    <link rel="stylesheet" href="/static/css/day-night.css" />
    <script src="https://kit.fontawesome.com/f602c6e369.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/js/day-night.js"></script>
    <script src="/static/js/paginator.js"></script>
    <link rel="shortcut icon" href="/static/img/epublibre.png" />
    {% block styles %}
    {% endblock %}
    <title>{% block title %}Amir Music{% endblock %}</title>
</head>
<body class="d-flex flex-column h-100">

{% include 'header.html' %}

<main class='h-100'>
{% block content %}{% endblock %}
</main>

{% include 'footer.html' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>
