  <ul>
    {% for o in grupos %}
      <li>
        <p>{{ o }}</p>
        {% if user.is_authenticated %}
        <a href="{% url 'eliminar' model='Grupo' oid=o.id %}" class="btn btn-danger btn-sm ml-1" role="button">Eliminar</a>
        <a href="{% url 'modificar' model='Grupo' oid=o.id %}" class="btn btn-warning btn-sm ml-1" role="button">Modificar</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <div class="paginationGrupos ml-5">
    <span class="step-links">
        {% if grupos.has_previous %}
            <a href="?pageGrupos=1">&laquo; first</a>
            <a href="?pageGrupos={{ grupos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ grupos.number }} of {{ grupos.paginator.num_pages }}.
        </span>

        {% if grupos.has_next %}
            <a href="?pageGrupos={{ grupos.next_page_number }}">next</a>
            <a href="pageGrupos={{ grupos.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>