<nav class="navbar navbar-expand-md navbar-light bg-light" role="navigation">
      <a class="navbar-brand" href="/amirMusic"><img width="36" src="/static/img/epublibre.png" alt="icono librería Amir"
          id="favicon">Amir Music</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/amirMusic">Inicio</a></li>

          {% if request.user.is_authenticated and request.user.is_staff%}
          <li class="nav-item"><a class="nav-link" href="/amirMusic/musicos/form">Nuevo músico</a></li>
          <li class="nav-item"><a class="nav-link" href="/amirMusic/grupos/form">Nuevo grupo</a></li>
          <li class="nav-item"><a class="nav-link" href="/amirMusic/album/form">Nuevo Album</a></li>
          {% endif %}
          
          <!-- <li class="nav-item"><a class="nav-link" href='{% url 'mapa' %}'>Mapa</a></li> -->
          <li class="nav-item"><a class="nav-link" href='{% url 'graficos' %}'>Gráficos</a></li>
          <li><button class="btn" id="day-night"><i class="fas fa-sun" style="font-size:25px;"></i></button></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" >
            <input type="search" class="form-control form-control-dark" placeholder="Buscar..." aria-label="Search" name="busqueda">
        </form>

        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                {{request.user.username}}
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/accounts/logout/">Logout</a>
            </li>
            {% else %}

            <li class="nav-item">
                <a class="nav-link " href="/accounts/login/">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/accounts/signup/">Signup</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>