{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/mapa.css' %}">
    <div id="map"></div>
    <ul>
      <li><button id='geolocalizacion' class='btn btn-primary'>Geolocalización</button></li>
      <li><button id='posicion' class='btn btn-primary'>Posición músicos</button></li>
    </ul>
    <script src='{% static 'js/mapa.js' %}'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKdIQQmOX0Z1mu1amJXymtmxFADvBrQgI&callback=initMap"
    async defer></script>
{% endblock content %}